/*common shared styles*/
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

/*banner styles*/
.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/Banner Image.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    margin: 0px auto;
}

.header-greeting {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    top: 150px;
    left: 640px;
}

.header-text {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    position: absolute;
    top: 190px;
    left: 500px;
}

/* banner styles finished */

/* First section starts */

.first-section-offer {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0px;
}

.first-section-text {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 0px;
}

.first-section-category {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 40px;
}

.first-section-image {
    width: 800px;
    height: 500px;
    margin: 0px auto;
    margin-bottom: 100px;
}

/* First section end */

/* Image section styles */

.image-section {
    display: flex;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/Vectorrr.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    margin: 0px auto;
}
.image-section-content{
    max-width: 700px;
    padding: 120px;
}

.image-section-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 0px;
}

.image-section-text {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 60px;
}

.image-section a {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.inner-image {
    width: 310px;
    height: 460px;
    padding: 68px 130px;
}

/* image section ends */

/* schedule section styles */