/*common shared styles*/
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

/*banner styles*/
.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/Banner Image.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    margin: 0px auto;
}

.header-greeting {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    top: 150px;
    left: 640px;
}

.header-text {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    position: absolute;
    top: 190px;
    left: 500px;
}
/* banner styles finished */

/*  */